* {
    text-align: center;
}

table,
td {
    border: 2px solid black;
}

th {
    border: 2px solid red;
    background-color: grey;
}

.yellow {
    background-color: yellow;
    color: black;
    font-weight: bold;
}