body {
    background-color: #B1AB9D;
}

legend {
    color: #fff;
    /*betűszín*/
    background-color: #97293F;
    font-weight: bold;
    border-radius: 5px;
    /*lekerítés*/
    padding: 5px 10px;
    /*külső margó*/
}

form {
    background-color: #B1AB9D;
    width: 90%;
    max-width: 550px;
    padding: 10px 5px 10px 5px;
}

fieldset {
    margin: 10px;
    border: 2px solid #97293F;
    background-color: #F5EED7;
    border-radius: 5px;
}

label {
    display: block;
    /*egymas ala helyezi az elemek*/
    margin: 10px 0 5px 0;
    /*belső margó */
}

input+label {
    display: inline;
    /*sorban helyezi el az elemeket*/
}